<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove Background</title>
</head>
<body>
    <h1>Remove Background Online</h1>
    <form action="/submit" method="post" enctype="multipart/form-data">
        <div>
            <label for="image">Select File</label>
            <input type="file" name="image" id="image">
        </div>
        <div>
            <input type="submit" value="Upload">
        </div>
    </form>
</body>
</html>